body {
  -webkit-touch-callout: none; // リンク長押しのポップアップを無効化
  -webkit-user-select: none; // テキスト長押しの選択ボックスを無効化
}

#layer {
  position: relative;
}

.img_1 {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.img_2 {
  width: 100%;
  position: absolute;
  z-index: 1;
}

#Black_footed_Cat_1:active {
  display: none;
}
